$font-family: 'Inter', 'Courier';
$header-height: 3.75rem;
$body-height: calc(100vh - $header-height);

// Colors
$text-color-white:white;
$background-color:#0A2E36;
$dark-blue: #001F3F;
$off-black: #2C2C2C;
$sandy-brown: #FCAB64;