@import "./common/variables";


*{
    padding: 0;
    margin: 0;
    font-family: $font-family;
    //outline: 1px dotted red;
}

@import "./common/header";
@import "./views/project";
@import "./common/footer";
