* {
  padding: 0;
  margin: 0;
  font-family: "Inter", "Courier";
}

header {
  height: 3.75rem;
  background-color: #0A2E36;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 1.875rem;
  margin-left: 3.75rem;
}
header span {
  width: 2px;
  height: 2rem;
  background-color: white;
}
header a {
  color: white;
  text-decoration: none;
}
header .link:hover {
  color: #27A6C3;
}
header .link:active {
  color: #4DCFED;
}
header .porogo-text {
  display: flex;
  align-items: center;
  gap: 1.4rem;
}
header li img {
  border: none;
  vertical-align: bottom;
}
header .right-part {
  margin-right: 3.75rem;
}
header .right-part .language {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5.625rem;
  height: 2.5rem;
}
header .option {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  height: 100%;
  width: 50%;
}
header .option:first-child {
  border-right: none;
  border-radius: 1.25rem 0 0 1.25rem;
}
header .option:last-child {
  border-radius: 0 1.25rem 1.25rem 0;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5rem;
}
section h1 {
  font-size: 2.5rem;
  font-weight: 900;
}
section h2 {
  font-size: 1.5rem;
  font-weight: normal;
}
section .intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
  width: 50%;
  gap: 40px;
  position: relative;
}
section .intro .text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
section .intro .video-container {
  position: relative;
  max-width: 500px;
  max-height: 350px;
}
section .intro .sidebar {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  right: -70px;
  top: 0;
  padding: 8px 5px 8px 5px;
  border-radius: 15px;
  gap: 10px;
  background-color: #9D9C9C;
}
section span {
  width: 50%;
  height: 2px;
  background-color: black;
}
section .lang-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  gap: 2.5rem;
}
section .languages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
section .languages .language {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #DCD8D8;
  border-radius: 10px;
  padding: 10px;
}
section .languages img {
  width: 60px;
  height: 85px;
  max-width: 60px;
  max-height: 85px;
}
section .about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  gap: 40px;
  text-align: justify;
  padding-bottom: 100px;
}
section .about p {
  font-size: 1rem;
  line-height: 2rem;
}

footer {
  height: 10rem;
  display: grid;
  grid-template-rows: 2fr 1fr;
  background-color: #0A2E36;
  color: white;
}
footer .row-1 {
  display: flex;
  align-items: end;
  justify-content: center;
  padding-bottom: 1rem;
}
footer ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 1.875rem;
  margin-left: 3.75rem;
}
footer ul span {
  width: 2px;
  height: 2rem;
  background-color: white;
}
footer ul a {
  color: white;
  text-decoration: none;
}
footer .link:hover {
  color: #27A6C3;
}
footer .link:active {
  color: #4DCFED;
}
footer li img {
  border: none;
  vertical-align: bottom;
}
footer .row-2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .icons {
  display: flex;
  gap: 1rem;
}/*# sourceMappingURL=main.css.map */