@use "./common/variables" as *;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $font-family;
}

html, body, #app, #app > div {
    height: 100%;
    width: 100%;
}

.top-content {
    height: $body-height;
}

.top-content, .full-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.full-content {
    height: 100%;
}