@use "../common/variables" as *;
.intro{
    height: $body-height;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    .text{
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 35%;
        margin-left: 8%;

        .btn-projects{
            margin-top: 15px;
            width: 50%;
            padding: 10px;
            border: none;
            border-radius: 10px;

            font-size: $descriptionText-size;
            font-weight: 400;
            color: white;
            background-color: $background-color;
            letter-spacing: $descriptionText-spacing;
        }
    }

    .images{
        display: flex;
        align-items: center;
        justify-self: center;
        margin-right: 8%;
    }

    .container {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: fit-content;
    }

    .picture-us{
        position: relative;
        width: 75%;
        z-index: 1;
    }

    .under-shape{
        position: absolute;
        width: 75%;
        z-index: 0;
        fill: $bright-light-blue;
        top: 10%;
        left: 18%;
        filter: drop-shadow(10px 10px 10px $bright-light-blue);
    }

}


.team {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background-color: $light-gray;

    .text {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        width: 35%;
        margin-left: 8%;
    }

    .carousel-part {
        display: flex;
        width: 40%;
        align-items: center;
        justify-content: center;
        margin-right: 8%;
        overflow: hidden;
    }
}

.people{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    height: 60vh;
    padding-left: 8%;
    color: white;
    background-color: $background-color;

    .people-list{
        display: flex;
        align-items: center;
        justify-content: center;
        flex: row;
        gap: 100px;
        margin-top: 15px;
    }

    .person{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        gap: 10px;
    }

    .description{
        padding: 0px;
        width: 144px;
        text-align: center;
        line-height: 25px;
        font-weight: 400;
    }

    .name{
        position: relative;
        top: 25px;
        padding: 10px;
        background-color: black;
        opacity: 80%;
        border-radius: 10px;
        width: fit-content;
    }
}




.subtitle{
    font-size: $newsubTitleText-size;
    font-weight: $newsubTitleText-weight;
    letter-spacing: $newsubTitleText-spacing;
}

.title{
    font-size: $newtitleText-size;
    font-weight: $newtitleText-weight;
    letter-spacing: $newtitleText-spacing;
}

.description{
    padding-top: 20px;
    font-size: $descriptionText-size;
    font-weight: $descriptionText-weight;
    letter-spacing: $descriptionText-spacing;
    line-height: $descriptionText-line-height;
    text-align: justify;
    text-justify: inter-word;
}