@import '../common/variables';

#top-content{
  display: flex;
  justify-content: space-evenly;
  height: $body-height;
  align-items: center;
}

#full-content{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: $color-gray;
}

.about-content {
  padding-left: 25vh;
  padding-right: 25vh;
  display: flex;
  flex:1;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#bottom-about-me{
  padding-top: 10%;
}

.about-side{
  display: flex;
  flex:1;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.icons{
  margin-right: 17px;
}

#github{
  height:30px;
  width: 30px;
}

#linkedin{
  height:31px;
  width: 31px;
}

#email{
  height:31px;
  width: 39px;
}

#icons-div{
  width: 100%;
  justify-content: space-evenly;
  padding-bottom: 30px;
}

.dev-header{
  padding-bottom: 2%;
}
