@import '../common/variables';

.test {
    .top-content{

        div {
            height: 100%;
            width: 100%;
            div {
                div {
                    height: 100%;
                    width: 100%;
                }
            }
        }
    }
}