@use '../common/variables' as *;

.test {
    .carousel, .card, .project-card  {
        height: 100%;
        width: 100%;
    }

    .project-card button, .project-card img {
        height: 50%;
    }

    .project-card-info h2 {
        text-align: center;
    }

    .project-card-info .options {
        justify-content: center;
    }
}

.bottom-content {
    min-height: 100vh;
    display: flex;
    background-color: $color-gray;
}

#filter {
    width: 20%;
    height: 20%;
    background-color: lightgray;
    position: sticky;
    top: 0;
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    h2 {
        text-align: center;
    }

    display: flex;
    flex-direction: column;
}

#projects {
    width: 80%;
    background-color: $color-gray;
    text-align: center;
    
    h1 {
        font-size: $underTitleText-size;
        font-weight: $underTitleText-weight;
        padding: 8px;
    }

    .allCards {
        display: flex;
        gap: 5px;
        flex-wrap: wrap;
        justify-content: center;
    }
}