
@import '../common/variables';

.top-content {
    height: $body-height;
}

.top-content, .full-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.full-content {
    height: 100%;
}

#landing {
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    background: linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0) 80%, rgba(162, 193, 224, 0.5) 100%);

    .welcome {
        height: 55%;
        width: 40%;

        display: flex;
        flex-direction: column;
        justify-content: space-around;

        h1 {
            justify-self: flex-start;
        }

        p {
            color: $dark-blue;
            text-align: justify;
        }
    }

    img {
        width: 30%;
    }
}

#home-projects {
    height: 90%;
    width: 30vw;
    padding-bottom: 1em;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    background-color: $blue-gray;

    & > h1 {
        color: $cloudy-blue;
        -webkit-text-stroke: 1px $cloudy-blue;
    }

    h1, h2 {
        font-weight: 900;
    }

    h2 {
        -webkit-text-stroke: 1px;
        letter-spacing: 1px;
    }

    & > div {
        height: 80%;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .project-card-info {
        width: 72%;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        p {
            display: -webkit-box;
            -webkit-line-clamp: 3;
            line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: justify;

            line-height: 1.5rem;
        }
    }

    .project-card {
        height: 47%;
        width: 54vw;
        padding: 1rem;

        display: flex;
        justify-content: space-between;

        background-color: $teal;
        box-shadow: 0.5rem 0.5rem $blue-purple;

        & > img {
            border: 0.2rem solid $sandy-brown;
            border-radius: 1rem;
        }

        button {
            height: 100%;
            width: 100%;
            
            display: flex;
            justify-content: center;
            align-items: center;

            border-radius: 0.5rem;
            border: none;
            background-color: $sandy-brown;
        }

        button:hover {
            text-shadow: 0.05rem 0.05rem $teal;
            box-shadow: 0.2rem 0.2rem $dark-blue;
        }

        .options {
            height: 20%;

            display: flex;
            align-items: center;
            gap: 2em;
        }

        a {
            width: 50%;
            height: 100%;

            text-decoration: none;
        }

        .github {
            width: auto;
        }

        img {
            height: 100%;
        }
    }
}