
@import '../common/variables';

.content {
    height: $body-height;
    border: 1px solid red;
    font-family: $font-family;
}

.landing {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .welcome {
        height: 50%;
        width: 50%;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        
        h1 {
            justify-self: flex-start;
        }

        // div {
        //     display: flex;
        //     flex-direction: column;
        //     justify-content: space-evenly;
        // }
    }

    img {
        width: 30%;
    }
}