
@import '../common/variables';

.content {
    height: $body-height;
    font-family: $font-family;

    display: flex;
    align-items: center;
    justify-content: center;
}

#landing {
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    background: linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0) 80%, rgba(162, 193, 224, 0.5) 100%);

    .welcome {
        height: 55%;
        width: 40%;

        display: flex;
        flex-direction: column;
        justify-content: space-around;

        h1 {
            justify-self: flex-start;
        }

        p {
            color: $dark-blue;
        }
    }

    img {
        width: 30%;
    }
}

#home-projects {
    height: 80%;
    width: 80%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    .project-card-info {
        width: 60%;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }

    .project-card {
        height: 35%;
        width: 60%;
        padding: 1rem;

        display: flex;
        justify-content: space-evenly;

        background-color: $teal;
        box-shadow: 1rem 1rem $blue-purple;

        button {
            padding: 0.5rem;

            border-radius: 0.5rem;
            background-color: $sandy-brown;
        }
    }
}